<% content_for(:title, "Project Details") %>

<h1><%= @project.name %></h1><hr>

<h4><em><%= @project.description %></em></h4><hr>

<h4><a href="<%= @project.github %>">See on Github</h4><hr>



  <a class="btn btn-xs btn-warning" role="button"<%= link_to "Edit", edit_category_project_path(@category, @project) %></a>
  <a class="btn btn-xs btn-danger" role="button"<%= link_to "Delete", category_project_path(@category, @project),
:data => {:confirm => "Are you sure you want to delete this project?",
  :method => "delete"} %></a>

<br><br>
  <a class="btn btn-info" role="button"<%= link_to "Back to Language", category_path(@category)%></a>
