<% content_for(:title, "Courtney Phillips Portfolio") %>
<% content_for(:navbar) do %>
<ul class="nav navbar-nav">
  <li class="active"><%= link_to "Home", categories_path %></li>
  <li><%= link_to "Add New Skill", new_category_path %></li>
</ul>
<% end %>

<div class="row">
  <h2>Skills</h2><hr>

  <ul class="languages">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
<br><br>
  <a class="btn btn-info btn-block" role="button"<%= link_to "Add New Category", new_category_path %></a><hr>
  <%= link_to "See References", references_path, id: "show_references_link", class: "btn btn-info btn-md show_hide", remote: true %>
  <%= link_to "See References", references_path, id: "show_references_link", class: "btn btn-info btn-md show_hide", remote: true %>

</div>
  <div class="references_toggle">
    <%= render("references/index") %>
  <a href="#" class="show_hide">hide</a>
</div>
