<% content_for(:title, "Courtney Phillips Portfolio") %>
<% content_for(:navbar) do %>
<ul class="nav navbar-nav">
  <li class="active"><%= link_to "Home", categories_path %></li>
  <li><%= link_to "Add New Skill", new_category_path %></li>
</ul>
<% end %>

<div class="row">
  <h2>Skills</h2><hr>

  <ul class="languages">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
<br><br>
  <a class="btn btn-info btn-block" role="button"<%= link_to "Add New Category", new_category_path %></a><hr>
  <a class="btn btn-info btn-block" role="button"<%= link_to "Show References", new_category_path %></a>

</div>



  </div>


</div>

</div>
