<h1><%= @category.name %></h1>


<h4><%= @category.description %></h4>

<p><%= link_to "Edit Category", edit_category_path %></p>


<p><%= link_to "Return to Categories", categories_path %></p>

<p><%= link_to "Delete", category_path(@category),
                        :data => {:confirm => "Are you sure you'd like to delete this category? There's no turning back!",
                          :method => "delete"} %></p>
