<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <h1>Courtney Phillips</h1>
      <p class="lead">Web Developer, Instructor, and Mexican Food enthusiast from Portland, Oregon.</p>
    </div>
  </div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", categories_path %></li>
          <li><%= link_to "Add New Language", new_category_path %></li>
          <li><a href="https://github.com/courtneyphillips">Github</a></li>
          <li><a href="https://www.linkedin.com/in/courtneymaephillips">LinkedIn</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </div>
</body>
</html>
